### 1

In [1]:
import pandas as pd 
ds = pd.Series([2,4,6])
print(ds)

0    2
1    4
2    6
dtype: int64

### 2

In [5]:
print(type(ds.tolist()))

<class 'list'>

In [6]:
type(ds)

pandas.core.series.Series

In [7]:
ds = ds.tolist()

In [8]:
type(ds)

list

### 3

In [13]:
ds1 = pd.Series([2,3,4])
ds2 = pd.Series([1,2,3])
add = ds1 + ds2 
sub = ds1 - ds2 
mult = ds1 * ds2
div = ds1 / ds2 

print(add, sub, mult, div)

0    3
1    5
2    7
dtype: int64 0    1
1    1
2    1
dtype: int64 0     2
1     6
2    12
dtype: int64 0    2.000000
1    1.500000
2    1.333333
dtype: float64

### 4

In [15]:
ds1 = pd.Series([2,4,6,8,10])
ds2 = pd.Series([1,3,5,7,10])
ds1.compare(ds2)

   self  other
0   2.0    1.0
1   4.0    3.0
2   6.0    5.0
3   8.0    7.0

In [16]:
print(ds1==ds2)
print(ds1>ds2)
print(ds1<ds2)

0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

### 5

In [17]:
d1 = {'a':100, 'b':200, 'c':300, 'd':400, 'e':800}
print(d1)
new_series = pd.Series(d1)
print(new_series)

{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
a    100
b    200
c    300
d    400
e    800
dtype: int64

### 6

In [21]:
import numpy as np 
ds = np.array([1,2,3])
print(ds)
print(type(ds))
ds1 = pd.Series(ds)
print(ds1)
print(type(ds1))

[1 2 3]
<class 'numpy.ndarray'>
0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

### 7

In [22]:
ds = pd.Series([100,200,'python',300.12,400])
print(ds)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

In [26]:
ds1 = pd.to_numeric(ds, errors="coerce")
print(ds1)

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [27]:
ds1 = pd.to_numeric(ds, errors="ignore")
print(ds1)

0       100
1       200
2    python
3    300.12
4       400
dtype: object

### 8

In [36]:
d = {'col1':[1,2,3,4,7,11],'col2':[4,5,6,9,5,0],'col3':[7,5,8,12,1,11]}
df = pd.DataFrame(data=d)
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     9    12
4     7     5     1
5    11     0    11

In [39]:
s1 = df.iloc[:,0]
print(s1)
print(type(s1))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

In [42]:
s2 = df.loc[:,'col1']
print(s2)
print(type(s2))

0     1
1     2
2     3
3     4
4     7
5    11
Name: col1, dtype: int64
<class 'pandas.core.series.Series'>

### 9

In [46]:
ds = pd.Series([100,200,'python',300.12,400])
print(ds,type(ds))
ar = ds.to_xarray()    #my try
print(ar,type(ar))

0       100
1       200
2    python
3    300.12
4       400
dtype: object <class 'pandas.core.series.Series'>
<xarray.DataArray (index: 5)>
array([100, 200, 'python', 300.12, 400], dtype=object)
Coordinates:
  * index    (index) int64 0 1 2 3 4 <class 'xarray.core.dataarray.DataArray'>

In [47]:
ds = pd.Series([100,200,'python',300.12,400])
print(ds,type(ds))
a = ds.values
print(a,type(a))

0       100
1       200
2    python
3    300.12
4       400
dtype: object <class 'pandas.core.series.Series'>
[100 200 'python' 300.12 400] <class 'numpy.ndarray'>

### 10

In [48]:
series = {'s1':['red','green','white'],'s2':['red', 'black'],'s3':['yellow']}
print(series)

{'s1': ['red', 'green', 'white'], 's2': ['red', 'black'], 's3': ['yellow']}

In [49]:
s1 = pd.Series(series)

In [50]:
print(s1)

s1    [red, green, white]
s2           [red, black]
s3               [yellow]
dtype: object

In [52]:
s2 = s1.apply(pd.Series).stack().reset_index(drop=True)
print(s2)

0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

In [53]:
s3 = s1.apply(pd.Series).stack().reset_index(drop=False)
print(s2)

0       red
1     green
2     white
3       red
4     black
5    yellow
dtype: object

In [ ]:
#need to look more at this example