***This is a working document and does not reflect a final product***

# Converting City or Address to Lat & Long using Geopy

### Importing geopy and testing how it works

In [1]:
from geopy.geocoders import Nominatim

In [2]:
geolocator = Nominatim(user_agent="jupyter")            #jupyter is the app name 
location = geolocator.geocode("175 5th Avenue NYC")

In [3]:
print(location)

Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, City of New York, New York, 10010, United States

In [4]:
print(location.address)

Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, City of New York, New York, 10010, United States

In [5]:
print((location.latitude, location.longitude))

(40.741059199999995, -73.98964162240998)

In [6]:
print(location.raw)

{'place_id': 15433288, 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. http://osm.org/copyright', 'osm_type': 'way', 'osm_id': 264768896, 'lat': '40.741059199999995', 'lon': '-73.98964162240998', 'class': 'tourism', 'type': 'attraction', 'place_rank': 30, 'importance': 0.4305988542685404, 'addresstype': 'tourism', 'name': 'Flatiron Building', 'display_name': 'Flatiron Building, 175, 5th Avenue, Flatiron District, Manhattan Community Board 5, Manhattan, New York County, City of New York, New York, 10010, United States', 'boundingbox': ['40.7407596', '40.7413004', '-73.9898715', '-73.9895014']}

In [7]:
location = geolocator.reverse("52.509669, 13.376294")
print(location.address)

11, Potsdamer Platz, Tiergarten, Mitte, Berlin, 10785, Deutschland

### Import data and convert using geopy

In [8]:
import pandas as pd
df = pd.read_csv("/Users/mayadye/Documents/Freeman Project- Cruises/Cruise Ports Sheet .csv", skiprows=3)  #data import
print(df)

                 Dates  Year  Unnamed: 2          Stops / Ports Unnamed: 4  \
0                  NaN   NaN         NaN                    NaN        NaN
1         03-07 Feb 77  77.0         NaN  Acajutla, El Salvador        NaN
2                  NaN   NaN         NaN       Acapulco, Mexico          1
3     24 Feb-05 Mar 38  38.0         NaN       Acapulco, Mexico          2
4     29 Feb-02 Mar 40  40.0         NaN       Acapulco, Mexico          3
...                ...   ...         ...                    ...        ...
1007               NaN   NaN         NaN                    NaN        NaN
1008               NaN   NaN         NaN                    NaN        NaN
1009               NaN   NaN         NaN                    NaN        NaN
1010               NaN   NaN         NaN                    NaN        NaN
1011               NaN   NaN         NaN                    NaN        NaN

              comments  Cruise #  Unnamed: 7  Unnamed: 8  Unnamed: 9  \
0                  NaN       NaN         NaN         NaN         NaN
1                  NaN      64.0         NaN         NaN         NaN
2                  NaN       6.0         NaN         NaN         NaN
3      and Mexico City       8.0         NaN         NaN         NaN
4                  NaN      12.0         NaN         NaN         NaN
...                ...       ...         ...         ...         ...
1007               NaN       NaN         NaN         NaN         NaN
1008               NaN       NaN         NaN         NaN         NaN
1009               NaN       NaN         NaN         NaN         NaN
1010               NaN       NaN         NaN         NaN         NaN
1011               NaN       NaN         NaN         NaN         NaN

      Unnamed: 10
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
1007          NaN
1008          NaN
1009          NaN
1010          NaN
1011          NaN

[1012 rows x 11 columns]

In [9]:
df.head()

,Dates,Year,Unnamed: 2,Stops / Ports,Unnamed: 4,comments,Cruise #,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03-07 Feb 77,77.0,NaN,"Acajutla, El Salvador",NaN,NaN,64.0,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,"Acapulco, Mexico",1,NaN,6.0,NaN,NaN,NaN,NaN
3,24 Feb-05 Mar 38,38.0,NaN,"Acapulco, Mexico",2,and Mexico City,8.0,NaN,NaN,NaN,NaN
4,29 Feb-02 Mar 40,40.0,NaN,"Acapulco, Mexico",3,NaN,12.0,NaN,NaN,NaN,NaN

In [10]:
ports = df["Stops / Ports"]   # isolate ports column
print(ports)

0                         NaN
1       Acajutla, El Salvador
2            Acapulco, Mexico
3            Acapulco, Mexico
4            Acapulco, Mexico
                ...
1007                      NaN
1008                      NaN
1009                      NaN
1010                      NaN
1011                      NaN
Name: Stops / Ports, Length: 1012, dtype: object

In [11]:
# How to remove NaN and -inf values in Python pandas
# dropna() : removes rows or columns with NaN or -inf values.
# replace() : replaces NaN and -inf values with a specified value.
# interpolate() : fills NaN values with interpolated values.

# https://saturncloud.io/blog/python-pandas-how-to-remove-nan-and-inf-values/

In [12]:
ports = ports.dropna()   #drop NaN values to return list of ports
print(ports)

1      Acajutla, El Salvador
2           Acapulco, Mexico
3           Acapulco, Mexico
4           Acapulco, Mexico
5           Acapulco, Mexico
               ...
668          Yokohama, Japan
669          Yokohama, Japan
670      Zihuatenejo, Mexico
671      Zihuatenejo, Mexico
672      Zihuatenejo, Mexico
Name: Stops / Ports, Length: 672, dtype: object

In [13]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="jupyter")            #jupyter is the app name 

location = geolocator.geocode("ports[1]")

#print(location.address)
print((location.latitude, location.longitude))

(38.3310669, -85.6859233)

In [14]:
location = geolocator.geocode("ports")

In [15]:
print((location.latitude, location.longitude))

(47.0161003, 0.5534383)

In [16]:
location1 = geolocator.geocode("ports[]")

In [17]:
print((location.latitude, location.longitude))

(47.0161003, 0.5534383)

In [19]:
#does not work, attempted to run a series through geopy 
#for i in range(-1,673):
#    
#    i = 0
#    location_port = geolocator.geocode("ports[i]")
#    print((location_port.latitude, location_port.longitude))
#    i += 1
#
#print(i)

In [20]:
#For loop from 0 to 2, therefore running 3 times.


# for x in range(0, 3):
#   print("We're on time %d" % (x))

In [23]:
#yields wrong row 1 address, but lat and long agree with address  
location = geolocator.geocode("ports[1]")

print(location.address)
print((location.latitude, location.longitude))

Heartland Way, 1, Ports of Indiana - Jeffersonville, Jeffersonville, Clark County, Indiana, 47130, United States
(38.3310669, -85.6859233)

In [24]:
#correct address and lat & long
location_elsal = geolocator.geocode("Acajutla, El Salvador")
print((location_elsal.latitude, location_elsal.longitude))

(13.5897967, -89.8297601)

In [25]:
#location_ports = ports.geolocator.geocode()

In [26]:
#isolate ports
ports.loc()

In [27]:
#review error

#i = 0 

#for i in range(0,672):
#    port = ports[i]
 #   location = geolocator.geocode('port')
  #  print((location.latitude, location.longitude))
   # print(i)
    
    #i += 1
    
#return(i)

#location = geolocator.geocode([ports.loc()])
#print((location.latitude, location.longitude))

In [28]:
#location = geolocator.geocode('')
#print((location.latitude, location.longitude))  HAS ERROR

In [32]:
#alphebitize values and match like ports
ports.sort_values()

1      Acajutla, El Salvador
27          Acapulco, Mexico
26          Acapulco, Mexico
25          Acapulco, Mexico
24          Acapulco, Mexico
               ...
668          Yokohama, Japan
669          Yokohama, Japan
671      Zihuatenejo, Mexico
670      Zihuatenejo, Mexico
672      Zihuatenejo, Mexico
Name: Stops / Ports, Length: 672, dtype: object

In [33]:
#create a new series dropping duplicated ports 
cut_ports = ports.drop_duplicates()

In [34]:
#testing geopy function
location = geolocator.geocode('Acapulco, Mexico')      #location does work with name input
print((location.latitude, location.longitude))

(16.8680495, -99.8940182)

***need to figure out how to run a string of names through geolocator.geocode('name')***

In [35]:
#view series
print(cut_ports)

1            Acajutla, El Salvador
2                 Acapulco, Mexico
28            Alameda   (shipyard)
30               Alexandria, Egypt
31                Algiers, Algeria
                  ...
656            Vladivostok, Russia
657                  Washington DC
659    Willemstad, Curacao, D.W.I.
668                Yokohama, Japan
670            Zihuatenejo, Mexico
Name: Stops / Ports, Length: 155, dtype: object

### sample code from ChatGPT
#from geopy.geocoders import Nominatim

#def get_lat_long(cut_port):
    geolocator = Nominatim(user_agent="jupyter")
    location = geolocator.geocode(cut_ports)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None

def convert_names_to_coordinates(cut_ports):
    coordinates = []
    for name in names:
        lat, lon = get_lat_long(cut_ports)
        coordinates.append((name, lat, lon))
    return coordinates

Example usage:
names = ["New York", "London", "Tokyo"]
coordinates = convert_names_to_coordinates(names)
for name, lat, lon in coordinates:
    print(f"{name}: Latitude = {lat}, Longitude = {lon}")

In [36]:
#view data type of cut_port
type(cut_ports)

pandas.core.series.Series

In [37]:
#create list by transforming (wording?) series to list
list_cut_ports = cut_ports.to_list()

In [38]:
#view data type of cut_ports to ensure it is still a series
type(cut_ports)

pandas.core.series.Series

In [39]:
#view data type of new list, ensure it is a list
type(list_cut_ports)

list

In [40]:
#view list
list_cut_ports

['Acajutla, El Salvador',
 'Acapulco, Mexico',
 'Alameda   (shipyard)',
 'Alexandria, Egypt',
 'Algiers, Algeria',
 'Amapala, Honduras',
 'Anchorage, Alaska',
 'Annapolis, Maryland',
 'Antofagasta, Chile',
 'Apia,  W.Samoa',
 'Apra, Guam, Marianas',
 'Astoria, Oregon',
 'Auckland, New Zealand',
 'Bahia de Todos Santos, Mex',
 'Balboa, Panama',
 'Barcelona, Spain',
 'Bitung, Indonesia',
 'Brisbane, Australia',
 'Buenaventura, Colombia',
 'Buenos Aries, Argentina',
 'Cabo San Lucas, Mex',
 'Cairns, Australia',
 'Callao, Peru',
 'Caragena, Colombia',
 'Caragena, Columbia',
 'Cebu City, Philippines',
 'Cedros Island, Mex.',
 'Channel Island',
 'Cocos Island, Costa Rica',
 'Colonia, Yap,  W.Caroline Isl.',
 'Columbo, Ceylon',
 'Coos Bay, Oregon',
 'Costa Rica',
 'Crescent City',
 'Cristobal, Panama',
 'Easter Island, Chile',
 'Ensenada, Mexico',
 'Eureka CA',
 'Funchal, Madeira',
 'Galapagos Islands, Ecuador',
 'Genoa, Italy',
 'Georgetown, Grand Cayman',
 'Gibraltar, Spain',
 'Glacier Bay, Alaska',
 'Guantanamo, Cuba',
 'Guayaquil, Ecuador',
 'Gulf of Panama',
 'Hampton Roads, Virginia',
 'Harumi, Japan',
 'Havana, Cuba',
 'Hilo, Hawaii',
 'Hong Kong, B.C.C.',
 'Honolulu Hawaii',
 'Houston Texas',
 'Iquique, Chile',
 'Isla Cedos, Mexico',
 'Isla Cedros, Mexico',
 'Isla Roatan, Honduras',
 'Juneau, Alaska',
 'Kahului, Maui, Hawaii',
 'Kailua-Kona, Hawaii',
 'Ketchikan, Alaska',
 'Kingston, Jamaica',
 'Kobe Japan',
 'Kodiak, Alaska',
 'La Union, Salvador',
 'Lahaina Roads, Hawaii',
 'Lahaina, Maui, Hawaii',
 'Lazaro Cardenas, Mexico',
 'Long Beach, Calif',
 'Magdalena Bay, Mexico',
 'Majuro Atoll, Marshall Islands',
 'Manila, Philippines',
 'Manzanillo, Mexico',
 'MARAD fleet, Suisun Bay',
 'Marseilles, France',
 'Mazatlan, Mexico',
 'Melbourne, Australia',
 'Miami, Florida',
 'Midway',
 'Monterey, Calif.',
 'Montevideo, Uruguay',
 'Morrow Cove',
 'Naha, Okinawa, Japan',
 'Naples, Italy',
 'Naples, Italy            ',
 'Nawiliwili, Kauai, Hawaii',
 'New Orleans',
 'New York City NY',
 'Newport News, Virginia',
 'Noumea, New Caledonia',
 'Nuka Hiva, Marquesas',
 'Nukua Lopa, Tonga',
 'Nukualofa, Tonga Islands',
 'Oakland',
 'Oakland ',
 'Pago Pago, Am. Samoa',
 'Pago Pago, Am.Samoa',
 'Palmyra Island',
 'Papeete, Tahiti',
 'Pireaus, Greece',
 'Port Hueneme, Calif.',
 'Port of Spain, Trinidad',
 'Port Said, Egypt',
 'Port San Luis',
 'Portland, Oregon',
 'Prince William Sound',
 'Puerto Vallarta, Mex',
 'Punta Arenas, Chile',
 'Punta Arenas, Costa Rica',
 'Pusan, Korea',
 'Quepos, Costa Rica',
 'Rarotanga',
 'Redwood Creek',
 'Richmond, Calif.',
 'Rio de Janeiro, Brazil',
 'Robinson Crusoe Island, Chile',
 'Sacramento',
 'Saipan, Marianas Islands',
 'San Blas Island, Panama',
 'San Clemente Island',
 'San Diego, Calif',
 'San Fran Bay',
 'San Francisco',
 'San Francisco   ',
 'San Jose, Guatamala',
 'San Jose, Guatemala',
 'San Juan, Puerto Rico',
 'San Pablo Bay',
 'Santa Barbara, Calif.',
 'Santa Catalina Island',
 'Santa Cruz, Calif.',
 'Sasebo, Japan',
 'Seattle, Wash',
 'Shanghai, China',
 'Singapore',
 'Sitka, Alaska',
 'St. Elmo Bay, Panama',
 'St. Thomas, Virgin Islands',
 'Stockton',
 'Subic Bay, Philippines',
 'Suva, Fiji Islands',
 'Sydney, Australia',
 'Tiburon',
 'Treasure Island, CA',
 'Vallejo',
 'Valparaiso, Chile',
 'Vancouver, B.C.',
 'Vera Cruz, Mexico',
 'Villefrenche, France',
 'Vladivostok, Russia',
 'Washington DC',
 'Willemstad, Curacao, D.W.I.',
 'Yokohama, Japan',
 'Zihuatenejo, Mexico']

### from ChatGPT modified for my data

def get_lat_long(address):                 
    geolocator = Nominatim(user_agent="jupyter")
    location = geolocator.geocode(address)
    if location:
        return location.latitude, location.longitude
    else:
        return None, None
    
def convert_names_to_coordinates(list_cut_ports):
    coordinates = []
    for x in list_cut_ports:
        lat, lon = get_lat_long(list_cut_ports)
        coordinates.append((x, lat, lon))
    return coordinates

### ran for ever a minute with no execution, something is wrong
#names = ["New York", "London", "Tokyo"]
coordinates = convert_names_to_coordinates(list_cut_ports)
for x, lat, lon in coordinates:
    print(f"{x}: Latitude = {lat}, Longitude = {lon}")

In [41]:
#define function which takes in a port name and returns a lat and long

def convert(name_port):
    
    
    location = geolocator.geocode(name_port)
    
    address  = location.address
    lat      = location.latitude
    long     = location.longitude

    print(location.address)
    print((location.latitude, location.longitude))
    
    return lat, long

In [42]:
input_list  = list_cut_ports
output_list = [convert(i) for i in input_list]

Acajutla, Municipio de Acajutla, Departamento de Sonsonate, El Salvador
(13.5897967, -89.8297601)
Acapulco, Acapulco de Juárez, Guerrero, 39300, México
(16.8680495, -99.8940182)

AttributeError: 'NoneType' object has no attribute 'address'